@using Nop.Plugin.Misc.Scheduler.Models
@model Nop.Plugin.Misc.Scheduler.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}
<h1>Hello world</h1>

@*@await Component.InvokeAsync("StoreScopeConfiguration")*@


<form asp-controller="Scheduler" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">

                <div class="form-group row">
                    <label asp-for="StorageProvider">@T("Plugins.Misc.Scheduler.Fields.StorageProvider"):</label>
                    @Html.Raw(Model.StorageProvider.ToString())
                </div>
                
                <div class="form-group row">
                    <label asp-for="ClientSecret">@T("Plugins.Misc.Scheduler.Fields.ClientSecret"):</label>
                    <input type="text" asp-for="ClientSecret" style="width:165px;" autocomplete="off" maxlength="22"/>
                    <span asp-validation-for="ClientSecret"></span>
                </div>
                
                <div class="form-group row">
                    @* <label asp-for="ScheduleTime">@T("Plugins.Misc.Scheduler.Fields.ScheduleTime"):</label> *@
                    @* <input type="datetime" asp-for="ScheduleTime" style="width:165px;" autocomplete="off" maxlength="22"/> *@
                    @* <span asp-validation-for="ScheduleTime"></span> *@
                </div>
                
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>